* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.text-blue{
    color: #2F4858;
}

.header-padding {
    padding: 15px 90px;
}

.main-section {
    background-image: url("./images/zia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head {
    backdrop-filter: brightness(50%);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    align-items: center;

}

.book {
    background-color: #CDA053;
    height: 42px;
    width: 152px;
    color: white;
    border: none;
    border-radius: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}

.navbar a {
    color: white;
    text-decoration: none;
}


/*----- hero section----- */

.hero-section {
    /* border: 2px solid black; */
    min-height: 800px;
    backdrop-filter: brightness(50%);
}

.section-padding {
    padding: 70px 90px;
    /* border-top: 2px solid black; */
}

.container {
    /* border: 2px solid black; */
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px;
}

.content {
    /* border: 2px solid black; */
    margin-top: 90px;
    width: 700px;
    margin-left: 25%;
}

.button-container {
    /* border: 2px solid black; */
    margin-top: 20px;
    text-align: center;
}

#All-things {
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lora";
    font-weight: 400;
}


/*------- zia wellness Experience------------ */

.zia-wellness {
    background-color: #FFF8EB66;
}

.discover-the-zia {
    padding: 30px 138px;
    border-radius: 30px;
    border: 2px solid #CDA053;
    font-size: 20px;
    font-family: "roboto";
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    background-color: #FFF8EB66;
}

.link-container {
    /* border: 2px solid blue; */
    padding: 30px 50px;
}

.links {
    /* border: 2px solid black; */
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    gap: 20px;
    margin-left: 0px auto;
}

.link-tabs {
    text-align: center;
}

.link-tab-bullet::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url('./ellipse.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    vertical-align: middle;
    gap: 10px;
}


a {
    color: #2F4858;
}

span {
    color: #CDA053
}


/* ---------Start your Journey---------  */
.text-yellow {
    color: #D9BC87;
}

.text-bluish-gray {
    color: #2F4858;
}


.start-your-journey .container {
    display: flex;
    justify-content: space-between;
}

#journey {
    font-family: "Lora", sans-serif;
}

#membership {
    font-weight: 300;
    font-size: 30px;
    font-style: light;
    font-family: "Roboto";
}

.zia-silver {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

.journey-membership {
    border-bottom: 3px solid black;
}

.zia-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 50px;
}

/*---------- card property------------- */
/* ---------Overall card -----------*/
.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f2e7;
    border: 2px solid #2F4858;
    border-radius: 12px;
    padding: 50px 30px;
    width: 480px;
    color: #2F4858;
    font-family: 'Roboto', sans-serif;

}

.plan-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.plan-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.plan-price {
    color: #C7A76D;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.plan-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0 0 24px 0;
    padding: 0;
}

.tick-bullet {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 1.4;
    font-size: 16px;
}


.tick-bullet::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('./images/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}


.plan-button {
    display: flex;
    justify-content: center;
}

.btn-join {
    background-color: #C7A76D;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}


/*------- Wellness we Offer section --------*/

.wellness-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.service-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
    padding: 50px 20px;
}

.category{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.category-img{
    margin: 10px 20px;
}

.category-img-1{
    height: 40px;
}

.category-content{
    font-style: italic;
    font-weight: 500;
    font-family: "Lora";
   text-align: center;
   max-height: 60px;
   max-width: 143px;
}

.services-section {
    padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* border: 2px solid black; */
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.service-heading{
    font-size: 35px;
}

.service-card .reverse {
  flex-direction: row-reverse;
}

.service-para{
    font-size: 20px;
    line-height: 1.5;
    max-width: 95%;
    flex-wrap: wrap;
    line-height: 1.9;
}

.service-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-text  {
  font-size: 1.8rem;
  color: #2f3a3f;
  margin-bottom: 1rem;
}

.service-text  {
 
  color: #5c6b73;
  
}

.service-image {
  max-width: 400px;
  max-height: 278px;
  border-radius: 20px;
  object-fit: cover;
}

.learn-more {
    font-size: 17px;
  color: #c47b2b;
  font-weight: 500;
  text-decoration: underline;
}



