* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.border{
    border: 2px solid black;
}

.btn {
    background-color: #d4a35a;
    color: #fff;
    max-width: 199px;
    max-height: 55px;
    padding: 10px 35px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto";
    text-decoration: none;
}

.text-blue {
    color: #2F4858;
}

.header-padding {
    padding: 15px 90px;
}

.main-section {
    background-image: url("./images/zia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-section {
    backdrop-filter: brightness(50%);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    align-items: center;

}

.book {
    background-color: #CDA053;
    height: 42px;
    width: 152px;
    color: white;
    border: none;
    border-radius: 100px;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}

.navbar .navbar-link {
    color: white;
    text-decoration: none;
}


/*----- hero section----- */

.hero-section {
    /* border: 2px solid black; */
    min-height: 800px;
    backdrop-filter: brightness(50%);
}

.section-padding {
    padding: 70px 70px;
    /* border-top: 2px solid black; */
}

.container {
    /* border: 2px solid black; */
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px;
}

.content {
    /* border: 2px solid black; */
    margin-top: 90px;
    width: 700px;
    margin-left: 25%;
}

.button-container {
    /* border: 2px solid black; */
    margin-top: 20px;
    text-align: center;
}

#All-things {
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "lora";
    font-weight: 400;
}


/*------- zia wellness Experience------------ */

.zia-wellness {
    background-color: #FFF8EB66;
}

.discover-the-zia {
    padding: 30px 138px;
    border-radius: 30px;
    border: 2px solid #CDA053;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    background-color: #FFF8EB66;
}

.link-container {
    /* border: 2px solid blue; */
    padding: 30px 50px;
}

.links {
    /* border: 2px solid black; */
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    gap: 20px;
    margin-left: 0px auto;
}

.link-tabs {
    text-align: center;
}

.link-tab-bullet::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url('./ellipse.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    vertical-align: middle;
    gap: 10px;
}

a {
    color: #2F4858;
}

.discover-content {
    font-family: 'Roboto',sans-serif;
}

.span-zia {
    color: #CDA053
}


/* ---------Start your Journey---------  */
.text-yellow {
    color: #D9BC87;
}

.text-bluish-gray {
    color: #2F4858;
}


.start-your-journey .container {
    display: flex;
    justify-content: space-between;
}

.journey {
    font-family: "Lora", sans-serif;
}

.membership {
    font-weight: 300;
    font-size: 30px;
    font-style: light;
    font-family: "Roboto";
}

.zia-silver {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
}

.journey-membership {
    border-bottom: 3px solid black;
}

.zia-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 50px;
}

/*---------- card property------------- */
/* ---------Overall card -----------*/
.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f2e7;
    border: 2px solid #2F4858;
    border-radius: 12px;
    padding: 50px 30px;
    width: 480px;
    color: #2F4858;
    font-family: 'Roboto', sans-serif;

}

.plan-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.plan-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.plan-price {
    color: #C7A76D;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.plan-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0 0 24px 0;
    padding: 0;
}

.tick-bullet {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 1.4;
    font-size: 16px;
}


.tick-bullet::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('./images/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}


.plan-button {
    display: flex;
    justify-content: center;
}

.btn-join {
    background-color: #C7A76D;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}


/*------- Wellness we Offer section --------*/

.wellness-Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2F4858;
}

.service-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
    padding: 50px 20px;
}

.category {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.category-img {
    margin: 10px 20px;
}

.category-img-1 {
    height: 40px;
}

.category-content {
    font-style: italic;
    font-weight: 500;
    font-family: "Lora";
    text-align: center;
    max-height: 60px;
    max-width: 143px;
}

.services-section {

    display: flex;
    flex-direction: column;
    gap: 40px;
    /* border: 2px solid black; */
}

.service-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.service-heading {
    font-size: 35px;
}

.service-card .reverse {
    flex-direction: row-reverse;
}

.service-para {
    font-size: 20px;
    line-height: 1.5;
    max-width: 95%;
    flex-wrap: wrap;
    line-height: 1.9;
}

.service-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-text {
    font-size: 1.8rem;
    color: #2f3a3f;
    margin-bottom: 1rem;
}

.service-text {

    color: #5c6b73;

}

.service-image {
    max-width: 400px;
    max-height: 278px;
    border-radius: 20px;
    object-fit: cover;
}

.learn-more {
    font-size: 17px;
    color: #c47b2b;
    font-weight: 500;
    text-decoration: underline;
}


/*----- About Zia Wellness Section----- */

.about-section {
    position: relative;
    background: url('./images/About.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: brightness(60%);
}

.about-content {
    position: relative;
    text-align: center;
    padding: 60px 30px;
    color: #fff;
}

.about-content .about-zia-wellness {
    font-size: 40px;
    margin-bottom: 25px;
    /* line-height: 1.9; */
    font-weight: 400;
    font-family: "Lora";
}

.about-content .about-para {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    font-family: "Roboto";
    font-weight: 400;
    max-width: 1006px;
}

.btn-contact {
    background-color: #d4a35a;
    color: #fff;
    padding: 16px 57px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.arizona{
    max-width: 950px;
    margin: auto;
}

.arizona-content{
    margin-top: 30px;
    font-size: 45px;
    font-family: "Lora";
    font-weight: 400;
}

.sedona-arizona{
    font-style:italic;
     font-family: "Lora";
    font-weight: 400;  
}

.modalities-para{
    margin-bottom: 20px;
    max-width: 498px;
    font-style: light;
    font-weight: 300;
    font-family: "Roboto";
}

.modalities-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.modalities-img-1{
    width: 500px;
    max-height: 212px ;
    border-radius: 30px;
}


/*---------- zia skin wellness -----------*/

.zia-skin-wellness{
    background-image: url("./images/ziaskin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 444px;
    min-width: 1400px;
}

.skin-btn{
    font-family: "Roboto";
    padding-top: 10px;
}


/*--------- Blog Section -------------*/
.text-white{
    color: white;
}

.skin-img{
    max-height: 309px;
    max-width: 430px;
    border-radius: 30px 0px 30px 30px;
    inset: 0;
    background: inherit;
    filter: brightness(60%);
}

.blog-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.blog-img-1 {
    position: relative;
}

.hypnosis{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 22px;
    font-family: "Roboto";
}

.learn-content{
    position: absolute;
    bottom: 40px;
    left: 20px;
     font-size: 20px;
     font-family: "Roboto";
}

/*---- Footer Section-------- */

.bg-yellow{
    background-color: #CDA053;
}

.Lora{
    font-family: "Lora";
}

.text-yellow{
    color:  #CDA053 ;
}

.question{
    font-size: 26px;
    font-family: "Roboto";
}

.bg-slate-blue{
    background-color: #1A2932;
}

.empowering-wrapper {
    margin-bottom: 60px;
}


.empowering-content {
    max-width: 563px;
    max-height: 130px;
     font-family: "Lora";
    padding-top: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-family: "Lora";
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.border-circle{
    border: 2px solid #FFFFFF66;
    padding: 15px;
   border-radius: 30px;
}

.copyright{
    margin-top: 30px;
}

.reserved{
    text-align: center;
    border-top: 2px solid  #FFFFFF66;
    line-height: 2.8;
    font-weight: 300;
    font-family: "Roboto";
    font-style: light;
    font-size: 16px;
}
